body{
font-family:Arial;
text-align:center;
background:#f5f5f5;
}

form{
width:300px;
margin:auto;
padding:20px;
background:white;
}

input{
display:block;
margin:10px;
padding:8px;
width:90%;
}

button{
background:blue;
color:white;
padding:10px;
border:none;
}